<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/dashbord.css">
    <title>Pagina de Usuarios</title>
</head>
<body>
    <%- include('../parts/header'); %>
    <main>
        <div class="container-flex">
            <%- include('../parts/navLeftDashboard'); %>
            <div class="container-flex-rigth">
                <div class="flex-rigth-margem">
                    <div class="container-rigth-box">
                        <h4>Hi, <%= usuario?.nome_loja %>  </h4><br>
                        <h6>Suas Vendas de Hoje:</h6>
                    </div>
                        <div class="resumo-vendas">
                            <div class="resumo-vendas-box">
                                <label class="label-box-white">Card View</label>
                                <div class="vendas-box-white">
                                    <div class="img-box-white">
                                        <img src="/assets/img/dashbord/Icon.svg">
                                    </div>
                                    <div class="box-white-dados">
                                        <h6>123</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="resumo-vendas-box">
                                <label class="label-box-white">Card View</label>
                                <div class="vendas-box-white">
                                    <div class="img-box-white">
                                        <img src="/assets/img/dashbord/Iconpessoas.svg">
                                    </div>
                                    <div class="box-white-dados">
                                        <h6>123</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="resumo-vendas-box">
                                <label class="label-box-white">Card View</label>
                                <div class="vendas-box-white">
                                    <div class="img-box-white">
                                        <img src="/assets/img/dashbord/card.svg">
                                    </div>
                                    <div class="box-white-dados">
                                        <h6>123</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="resumo-vendas-box">
                                <label class="label-box-white">Card View</label>
                                <div class="vendas-box-white">
                                    <div class="img-box-white">
                                        <img src="/assets/img/dashbord/perguntas.svg">
                                    </div>
                                    <div class="box-white-dados">
                                        <h6>123</h6>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                        <br>
                        <div class="container-grafico">
                                <label>Grafico De Vendas</label>
                                <div class="grafico">
                                    
                                    <canvas class="line-chart">
                                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                                        <script src="/assets/js/Dashboard.js"></script>
                                    </canvas>
                                </div>
                        </div>
                        <br><br>
                        <div class="position-melhores-dia">
                            <div class="container-duplo">
                                <label>Porcentagem de Vendas</label>
                                <br>
                                <div class="box-white-both">
                                    <div class="porcentagem">100%</div>
                                    
                                </div>
                            </div>
                            <div class="container-duplo">
                                <label>Melhores Produtos</label>
                                <br>
                                <div class="box-white-both">

                                </div>
                            </div>
                        </div>

                </div>
                
            </div>
        </div>
    </main>

</body>
</html>