<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/dashbord.css">
    <title>Pagina de Usuarios</title>
</head>
<body>
    <%- include('../parts/header'); %>
    <main>
        <div class="container-flex">
            <div class="container-flex-left">
                <a class="btnmobile-left"><i class='bx bx-menu'></i></a>
                <div class="lateral-menu-left">
                    <div class="img-lateral-menu">
                        <img src="/assets/img/Vitural_space-logo.png" class="logo">
                    </div>
                    <div class="list-menu-left">
                        <ul>
                            <li><a href="" class="inicio"><i class='bx bx-desktop'></i>Inicio</a></li>
                            <li><a class="vendas"><i class='bx bxs-bar-chart-alt-2'></i>Vendas<div class="divisoria-rigth"><i class='bx bx-chevron-up'></i></div></a></li>
                            <li><a href="subpaginas-dashboard/criacaoProduto.html" class="Produtos">Produtos<div class="divisoria-rigth"><i class='bx bx-chevron-up'></i></div></a></li>
                            <li><a class="relatórios-P"><i class='bx bxs-bar-chart-alt-2'></i>Relatórios<div class="divisoria-rigth"><i class='bx bx-chevron-up'></i></div></a></li>
                            <li><a class="pessoas"><i class='bx bxs-user-circle'></i>Pessoas<div class="divisoria-rigth"><i class='bx bx-chevron-up'></i></div></a></li>
                            <li><a class="usuarios">Usuarios<div class="divisoria-rigth"><i class='bx bx-chevron-up'></i></div></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-flex-rigth">
                <div class="flex-rigth-margem">
                    <div class="container-rigth-box">
                        <h4>Hi, <%= usuario?.nome_loja %>  </h4><br>
                        <h6>Suas Vendas de Hoje:</h6>
                    </div>
                        <div class="resumo-vendas">
                            <div class="resumo-vendas-box">
                                <label class="label-box-white">Card View</label>
                                <div class="vendas-box-white">
                                    <div class="img-box-white">
                                        <img src="/assets/img/dashbord/Icon.svg">
                                    </div>
                                    <div class="box-white-dados">
                                        <h6>123</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="resumo-vendas-box">
                                <label class="label-box-white">Card View</label>
                                <div class="vendas-box-white">
                                    <div class="img-box-white">
                                        <img src="/assets/img/dashbord/Iconpessoas.svg">
                                    </div>
                                    <div class="box-white-dados">
                                        <h6>123</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="resumo-vendas-box">
                                <label class="label-box-white">Card View</label>
                                <div class="vendas-box-white">
                                    <div class="img-box-white">
                                        <img src="/assets/img/dashbord/card.svg">
                                    </div>
                                    <div class="box-white-dados">
                                        <h6>123</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="resumo-vendas-box">
                                <label class="label-box-white">Card View</label>
                                <div class="vendas-box-white">
                                    <div class="img-box-white">
                                        <img src="/assets/img/dashbord/perguntas.svg">
                                    </div>
                                    <div class="box-white-dados">
                                        <h6>123</h6>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                        <br>
                        <div class="container-grafico">
                                <label>Grafico De Vendas</label>
                                <div class="grafico">
                                    
                                    <canvas class="line-chart">
                                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                                        <script src="/assets/js/Dashboard.js"></script>
                                    </canvas>
                                </div>
                        </div>
                        <br><br>
                        <div class="position-melhores-dia">
                            <div class="container-duplo">
                                <label>Porcentagem de Vendas</label>
                                <br>
                                <div class="box-white-both">
                                    <div class="porcentagem">100%</div>
                                    
                                </div>
                            </div>
                            <div class="container-duplo">
                                <label>Melhores Produtos</label>
                                <br>
                                <div class="box-white-both">

                                </div>
                            </div>
                        </div>

                </div>
                
            </div>
        </div>
    </main>

</body>
</html>