<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
    <link rel="stylesheet" href="/assets/css/Produto.css">
</head>
<body>
    <%- include('../parts/header'); %>
    <main>
        <div class="flex-margin">
            <div class="container-flex-left">
                <h2>Produto</h2><br>
                <h3>Descrição</h3><br>
                <p>blablablablablablablablablabla</p><br>
                <h2>Preço: R$<strong>123,00</strong></h2>

            </div>
            <div class="container-flex-rigth">
                <img src="/assets/img/rocket.png">
            </div>
           
        </div>
        <div class="containerComentario">
            <h2>Comentarios</h2>
            <ul>
                <li><div class="comentario"><h4>nome</h4><hr><p>Comentario</p></div></li>
            </ul>
            <form>
                <input type="text" placeholder="Escreva uma pergunta ou poste um comentario sobre o produto"><br>
                <input type="submit">
            </form>
        </div>
    </main>
</body>
</html>