<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="/assets/css/Produtos.css">
</head>
<body>
    <%- include('../parts/header'); %>
    <main>
        <div class="container-flex">
            <%- include('../parts/navLeftDashboard'); %>
            <div class="container-flex-rigth">
                <div class="container-flex-rigth-margin">
                    <button class='buttonProdutos'>Incluir</button>
                    <button class='buttonProdutos'>Procurar</button>
                    <button class='buttonProdutos'>Alterar</button>
                    <button class='buttonProdutos'>Deletar</button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>