<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incluir Produtos</title>
    <link rel="stylesheet" href="/assets/css/Produtos.css">
</head>
<body>
    <%- include('../parts/header'); %>
    <main>
        <div class="container-flex">
            <%- include('../parts/navLeftDashboard'); %>
            <div class="container-flex-rigth">
                <div class="container-flex-rigth-margin">
                    <form>
                    <div class="form-row">
                    <a class="incluir" href="/produtos/incluir">+</a><input type="text" class="procurar" name="procurar" placeholder="Escreva o nome ou o id do produto">
                    </div>
                    <nav>
                        <li><div class="mostrarNome"><p>fone bom</p></div><a class="alterar">Alterar</a><a class="excluir">Excluir</a></li>
                        <li><div class="mostrarNome"><p>fone bom</p></div><a class="alterar">Alterar</a><a class="excluir">Excluir</a></li>
                    </nav>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
</html>