<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
    <link rel="stylesheet" href="/assets/css/Produto.css">
</head>
<body>
    <%- include('../parts/header'); %>
    <main>
        <div class="flex-margin">
            <div class="container-flex-left">
                <h2>Produto</h2><br>
                <h3>Descrição</h3><br>
                <p>blablablablablablablablablabla</p>

            </div>
            <div class="container-flex-rigth">

            </div>
        </div>
    </main>
</body>
</html>