<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incluir Produtos</title>
    <link rel="stylesheet" href="/assets/css/Produtos.css">
</head>
<body>
    <%- include('../parts/header'); %>
    <main>
        <div class="container-flex">
            <%- include('../parts/navLeftDashboard'); %>
            <div class="container-flex-rigth">
                <div class="container-flex-rigth-margin">
                    <form>
                        <h3>Criação de Produto</h3>
                        <label>Nome</label><br>
                        <input type="text" name="nome"><br>
                        <label>Descrição</label><br>
                        <input type="text" name="descricao"><br>
                        <label>Preço</label><br>
                        <input type="text" name="preco"><br>
                        <label>Foto</label>
                        <input type="file" name="foto"><br><br>
                        <div class="btn-form">
                            <a href="/produtos" class="btnVoltar">Voltar</a>
                            <input type="submit" class="btnFinalizar">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
</html>