<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/assets/css/pagamentos.css">

    <title>Pagamentos</title>
  </head>
  <body>
    <!-- Menu -->

    <!-- Pagamentos -->
<main>
  <div class="infotop">
    <h1>Verificação Final</h1>
  </div>

  <h3>Informações de Pedido</h3>
<div class="container">

  <div class="dadospessoais">
    <h4>Dados Pessoais</h4>
    <h5>Nome: Lorem, ipsum dolor.</h5>
    <h5>CPF: Lorem ipsum dolor sit amet.</h5>
    <h5>RG: Lorem ipsum dolor sit amet.</h5>
    <h5>Cel: Lorem ipsum dolor sit.</h5>
    <h5>Email: Lorem ipsum dolor sit amet consectetur.</h5>
  </div>
  
  <div class="endereco">
    <h4>Endereço</h4>
    <h5>Rua</h5>
    <h5>Numero</h5>
    <h5>Bairro</h5>
    <h5>CEP</h5>
    <h5></h5>
  </div>
  <div class="resumo">
    <h6>djsifojdsiofjdsoifjsidofjdsf</h6>
    <h6>sdfsdfojdfjidiojf</h6>
  <h6>adsfsdafsdfsd</h6>
  <h6>asdfdsfadsfadsfadsfds</h6>
  <h6>adfdasfdfdsfdsfs</h6>
  <h6>dfsadfsadfewfwa</h6>
  <h6>ewrqwefqeqwef,wpof,wep</h6>
  <h6>eqwrewrewrewrqwerewfew</h6>
  <h6>dsfsadfdswefwefwqef</h6>
  <h6>dsfasdfdsfdsfdfdfdf</h6>
  <h6>dsfasdfdsfdsfdfdfdf</h6>
</div>
</div>
  <div class="listadeprodutos">
    <h5>Nome</h5>
    <h5>marca</h5>
    <h5>Quantidade</h5>
    <h5>valores</h5>
  </div>
</main>
  
  <!-- footer -->
</body>
</html>
