<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Informação Do Pedido</title>
  <link rel="stylesheet" href="/public/assets/css/pedido-info.css">
</head>
<body>
  <header>

  </header>
  <main>
    <div class="left-container"><br>
      <h2>Informações de Pedido</h2><br>
      <div class="box-informacoes">
        <div class="informacoes">
          <h3>Dados Pessoais</h3><br>
          <p>Nome:</p>
          <p>CPF:</p>
          <p>RG:</p>
          <p>CEL:</p>
          <p>EMAIL:</p>
        </div>
        <div class="informacoes">
          <h3>Endereço de Entrega</h3>
          <p>RUA:</p>
          <p>NUMERO:</p>
          <p>BAIRRO:</p>
          <p>CEP:</p>    
        </div>
      </div>
      <h2>Lista de Produtos</h2><br>
      <div class="produto">
        <div class="box-produto">

        </div>
        <div class="box-produto">
          Produto:<br>
          Marca:
        </div>
        <div class="box-produto">
          Quantidade:
        </div>
        <div class="box-produto">
          Valor R$ 0,00
        </div>
      </div>

      <h2>Frete</h2><br>
      <div class="frete-box">
        <div class="box-produto"><input type="checkbox"></div>
        <div class="box-produto">Motoboy</div>
        <div class="box-produto">Chegara entre 2 a 4 dias</div>
        <div class="box-produto">Valor: R$0,00</div>
      </div>
    
    </div>
    <div class="right-container">
      <h2>Resumo</h2><br>
      <div class="img-resumo"></div><br>
      <div class="resumo-info">
        <div class="box-produto">
          Valor dos Produtos
        </div>
        <div class="box-produto">
          R$ 0,00
        </div>
      </div>
      <div class="resumo-info">
        <div class="box-produto">
          Desconto
        </div>
        <div class="box-produto">
          R$ 0,00
        </div>
      </div>
      <div class="resumo-info">
        <div class="box-produto">
          Frete
        </div>
        <div class="box-produto">
          R$ 0,00
        </div>
      </div><br>
      <h2>Forma de Pagamento</h2>
      <a href="" class="btn-Finalizar">Finalizar</a><br>
      <a href="" class="btn-Voltar">Voltar</a>
    </div>
  </main>
</body>
</html>