<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/Create.css">
    <title>Criar Conta</title>
</head>
<body>
    <div class="center">
        <div class="login">
            <h2>Adicionando Produtos</h2>
            <form id="form-produto" method="POST" action="/adm/adicionarprodutos" enctype="multipart/form-data">
                <label>
                    Nome:
                    <input type="text" name="nome" id="nome" placeholder="Digite o nome do produto">
                </label>
                <label>
                    Descrição:
                    <input type="text" name="descricao" id="descricao" placeholder="descricao do produto">
                </label>
                <label>
                    Preço:
                    <input type="number" name="preco" id="preco" step="0.01" placeholder="Digite o preço do produto">
                </label>
                <label>
                    Categoria do Produto
                   <select name="categorias" id="categori">
                       <option value="Tecnologia">Tecnoligia</option>
                       <option value="Roupas">Roupas</option>
                       <option value="Comidas">Comidas</option>
                   </select>
                </label>

                <label>
                    Foto:
                    <img src="/img/no-image.png">
                    <div>Clique para selecione nova imagem</div>
                    <input type="file" name="img" id="img">
                </label>

                <button type="submit">Salvar</button>
            </form>
        </div>
</div>
    </div>