<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/assets/css/login.css">
    <title>Login</title>
</head>

<body>
    <div class="center">
        <div class="login">
            <h2>Login</h2>
            <form action="/cliente/login" method="POST">  
                <label>Email</label>
                <input type="email" name="email" placeholder="Seuemail@email.com">
                <label>Senha</label>
                <input type="password" name="senha" placeholder="seusenha123">
                <input type="submit" value="Login">

                <a class="recuperar" href="https://www.virtualspace.com.br/recuperar-senha" title="">Esqueceu sua senha?</a>
                <a class="criarconta" href="/login" title="">Login Vendedor</a>
                <a class="criarconta" href="/cliente/create" title="">Criar Conta Cliente</a>
            </form>
    </div>
    </div>


</body>

</html>