<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/Create-plan.css">
    <script src="/assets/js/sobrePlanos.js"></script>
    <title>VirtualSpace</title>
</head>
<body>
    <div class="center">
        <div class="margin-center">
            <h2>Hello!, <%= usuario?.nome_loja %> </h2><br>
            <label>Escolha abaixo uma logo (opicional)</label><br>
            <h5>você poderá muda-la depois se quiser</h5><br><br>
            <input type="file"></input><br><br>
            <label>Escolha abaixo o plano desejado</label>
                <div class="gradePlanos">
                    <label for="plano1" class="boxPlanos" onclick="plano1()">Plano Basico<br><br><button href="" class="sobrePlanos">Sobre</button><br><br><input type="radio" name="plano" value="1" id="plano1"></label>
                    <label for="plano2" class="boxPlanos" onclick="plano2()">Plano Médio<br><br><button href="" class="sobrePlanos">Sobre</button><br><br><input type="radio" name="plano" value="2" id="plano2"></label>
                    <label for="plano3" class="boxPlanos" onclick="plano3()">Plano Top<br><br><button href="" class="sobrePlanos">Sobre</button><br><br><input type="radio" name="plano" value="3" id="plano3"></label>
                </div><br>
                <a href="" class="bntFinalizar">Ir para Opções de pagamento</a>
        </div>
    </div>
    <div class="sobre">
        <div class="sobreMov" id="sobreMov">
            <div class="sobre0">

            </div>
            <div class="sobre1">
                Plano Basico 
            </div>
            <div class="sobre2">
                Plano Médio 
            </div>
            <div class="sobre3">
                Plano Top
            </div>
        </div>   
    </div>
</body>
</html>