<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/Create-plan.css">
    <script src="/assets/js/sobrePlanos.js"></script>
    <title>VirtualSpace</title>
</head>
<body>
    <div class="center">
        <div class="margin-center">
            <h2>Hello!, Nome</h2><br>
            <label>Escolha abaixo uma logo (opicional)</label><br>
            <h5>você poderá muda-la depois se quiser</h5><br><br>
            <input type="file"></input><br><br><br>
            <label>Escolha abaixo o plano desejado</label><br><br>
                <div class="gradePlanos">
                    <div class="boxPlanos">Plano Basico<br><br><button href="" class="sobrePlanos" onclick="plano1()">Sobre</button><br><br><input type="checkbox"> </div>
                    <div class="boxPlanos">Plano Médio<br><br><button href="" class="sobrePlanos" onclick="plano2()">Sobre</button><br><br><input type="checkbox"> </div>
                    <div class="boxPlanos">Plano Top<br><br><button href="" class="sobrePlanos" onclick="plano3()">Sobre</button><br><br><input type="checkbox"> </div>
                </div>
                <a href="" class="bntFinalizar">Ir para Opções de pagamento</a>
        </div>
    </div>
    <div class="sobre">
        <div class="sobreMov" id="sobreMov">
            <div class="sobre0">

            </div>
            <div class="sobre1">
                Plano Basico 
            </div>
            <div class="sobre2">
                Plano Médio 
            </div>
            <div class="sobre3">
                Plano Top
            </div>
        </div>   
    </div>
</body>
</html>