<head>
	<link rel="stylesheet" href="/assets/css/404.scss">
</head>
<div class="mars"></div>
<img src="https://assets.codepen.io/1538474/404.svg" class="logo-404" />
<img src="https://assets.codepen.io/1538474/meteor.svg" class="meteor" />
<p class="title">Oh no!!</p>
<p class="subtitle">
	Você está digitando errado o URL
ou solicitando uma página que não está mais aqui.
</p>
<div align="center">
	<a class="btn-back" href="/#Home">Voltar para a pagina anterior</a>
</div>
<img src="https://assets.codepen.io/1538474/astronaut.svg" class="astronaut" />
<img src="https://assets.codepen.io/1538474/spaceship.svg" class="spaceship" />