<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Virtual Space</title>
</head>
<body>
    
    <header>
<div class="logo-container">
    <a href="#Home"><img src="/assets/img/Vitural_space-logo.png" alt="logo da empresa" class="logo"></a>
</div>
        
<nav id="nav-menu">
    
        <ul>
            <li><a href="#Home">Home</a></li>
            <li><a href="#Sobre_nos">Sobre nos</a></li>
            <li><a href="#planos">Planos</a></li>
            <li><a href="#sua_loja">Como montar sua Loja</a></li>
            <li><a href="modelos.html">Modelos de Paginas</a></li>
            <li><i class='bx bx-user'></i><a href="login.html">Login</a></li>
            <li><i class='bx bx-user-plus'></i><a href="/adm/create">Criar Conta</a></li>
        </ul>
        
    </nav>
        <a href="" class="btnmobile"><i class='bx bx-menu'  ></i></a>
    
        
    </header>
