<%- include('header'); %>


    <main id="Home">
    <div class="flex-container-center">
            <div class="Esquerda">
         <h1>Crie sua loja</h1>
         <p class="inicial">Faça parte desta equipe e junte nossas historias e monte sua loja Virtual e voe com conosco</p>
             <img src="/assets/img/rocket.png" alt="foquete" class="foguete">
             <img src="/assets/img/planet x40.png" alt="fundo" class="planeta">
             <img src="/assets/img/whitesmoke branco.png" alt="nuvem" class="nuvem-branca">
             <img src="/assets/img/bluesmoke fundo azul.png" alt="fundo da nuvem" class="fundo_azul"> 
     </div>
 
      <div class="Direita">

          <form action="">
              <label>Nome da Loja</label>
              <input type="text" name="" placeholder="Nome da Loja">
              <label>Email</label>
              <input type="email" name="" placeholder="Seuemail@email.com">
              <label>Senha</label>
              <input type="password" name="" placeholder="seusenha123">
              <input type="submit" value="Criar Conta">
            </form>
        </div>
    </div>
     <!--Sobre nós-->
     <section id="Sobre_nos">
         <img src="/assets/img/menina no foguete.png" alt="meninan o foguete">
         <!--Imagem da menina voando-->
         <div class="texto_sobre">
             <h3>Sobre nos</h3>
             <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam quos cupiditate, 
                 ea nobis necessitatibus ullam blanditiis reiciendis rem nihil quia ad voluptatibus culpa animi? Dolor vel illum fuga assumenda culpa?</p>
             </div>
     </section>
     <!--Como criar conta-->
     <section id="sua_loja">
         <h3>Como monta sua loja</h3>

         <div class="circulos">
            <div class="criar">
                <i class='bx bx-store-alt'></i>
                
                <p>criar loja</p>
            </div>
            <img src="/assets/img/Arrow 1.svg" alt="seta">
            <div class="add">
                <i class='bx bx-cart'></i>
                <p>adicionar produtos</p>
            </div>
            <img src="/assets/img/Arrow 1.svg" alt="seta">

            <div class="config">
                <i class='bx bx-wallet-alt'></i>
                <p>configurar pagamentos</p>
            </div>
            <img src="/assets/img/Arrow 1.svg" alt="seta">

            <div class="vender">
                <i class='bx bx-line-chart'></i>
                <p>vendas de produtos</p>
            </div>
         </div>
     </section >


     <section id="planos">
         <!--planos -->
         <h3>Planos</h3>
         <div class="Planos-card">


             <!--basico -->
             <div class="basico">
                 <img src="/assets/img/Dayflow Sitting BASICO.png" alt="plano basico">
                <div class="valor">
                    <h4>Basico</h4>
                    <h5>R$ XX,xx</h5>
                    <h4>por mês</h4>
                </div>
                <div class="beneficios">

                    <ul>
                        <li>Layout padrão</li>
                        <li>Mudanças de cor na barra de menu</li>
                        <li>Mudar cor da pagina</li>
                        <li>Link de pagamento</li>
                        <li>Analise de Vendas</li>
                    </ul>
                </div>
                    
                <button class="bnt-basico">Escolher plano Basico</button>

                  </div>

                  <!--top -->
             <div class="top"> 
                 <img src="/assets/img/Dayflow Sitting top.png" alt="plano top">
                 <div class="valor">
                    <h4>Basico</h4>
                    <h5>R$ XX,xx</h5>
                    <h4>por mês</h4>
                </div>
                <div class="beneficios">

                    <ul>
                        <li>Layout de destaque</li>
                        <li>Modificar posição de layout</li>
                        <li>Mudança de cor de pagina</li>
                        <li>Reviews de produtos</li>
                        <li>Link de pagamento</li>
                        <li>Analise de vendas</li>
                    </ul>
                </div>
                    
                <button class="bnt-top">Escolher plano top</button>


             </div>
             <!--medio -->
             <div class="medio"> 
                 <img src="/assets/img/Dayflow Sitting medio.png" alt="plano medio">

                 <div class="valor">
                    <h4>Basico</h4>
                    <h5>R$ XX,xx</h5>
                    <h4>por mês</h4>
                </div>
                <div class="beneficios">

                    <ul>
                        <li>Modificar layout</li>
                        <li>Mudar cor da pagina</li>
                        <li>Mudanças de cor na barra de menu</li>
                        <li>Link de pagamento</li>
                        <li>Analise de vendas</li>
                    </ul>
                </div>
                    
                <button class="bnt-medio">Escolher plano medio</button>


             </div>

         </div>
     </section>
     
 
    </main>
    <%- include('footer') %>