@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
:root {
  --cor--primaria: #043259;
  --cor--secundaria: #034c8c;
  --cor--terciaria: #91d7f2;
  --cor--quartecenario: #22ccf2;
  --cor--quintecenario: #38f2f2;
  --border--bottom: 2px solid rgba(0, 0, 0, 0.5);
  --titulos: 48px;
  --textos: 20px;
  --textcolor: #fff;
  --font-family: "Nunito", sans-serif;
  --fontweidt: bold;
  --z--index-max: 100;
  --z--index-medio: 50;
  --z--index-baixo: 1;
}

/*======reset=======*/
* {
  margin: 0;
  padding: 0;
}

/*====== login=====*/

body {
  background-image: radial-gradient(
    circle at 18.68% 38.6%,
    #743cb6 0,
    #5e35b5 25%,
    #422eb3 50%,
    #0829b1 75%,
    #0025b0 100%
  );
  
}


.center{
    display: flex;
   
    align-items: center;
    justify-content: center;
   
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    width: 350px;
    height: 460px;
    border-radius: 60px;
    background-image: linear-gradient(to right top, #034c8c, #006baa, #008ac5, #00abdd, #22ccf2);
}

form{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

label {
    margin-top: 20px;
    margin-left: 15px;
    font-size: 18px;
    font-family: "Nunito";
    color: rgb(34, 33, 33);
  }

  input {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 37px;
    width: 250px;
    height: 45px;
    margin-left: 29px;
    font-size: 16px;
    transition: 0.2s;
    outline: none;
    border: 2px solid rgba(10, 19, 223, 0.6);
    background-color: rgba(250, 250, 250, 0.692);
    box-shadow: 0px 4px 4px rgba(88, 55, 207, 0.541);
    border-radius: 30px;
    text-shadow: 10px;
  }

  .login input[type="text"]:focus,
  .login input[type="email"]:focus,
  .login input[type="password"]:focus {
    background-color: #2fa0b0;
  }

  .login input[type="text"]::placeholder,
  .login input[type="email"]::placeholder,
  .login input[type="password"]::placeholder {
    font-size: 15px;
    color: white;
    text-indent: 10px;
  }

  .login input[type="submit"] {
    color: white;
    background: linear-gradient(
      180deg,
      rgba(0, 7, 163, 0.6) 0%,
      rgba(10, 19, 223, 0.6) 100%
    );
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    margin-top: 35px;
  }
  .login input[type="submit"]:hover {
    color: var(--primaria);
    background: linear-gradient(
      180deg,
      rgba(26, 188, 228, 0.6) 0%,
      rgba(138, 122, 230, 0.6) 100%
    );
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    transition: 1s;
  }