<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/css/dashbord.css">

    <title>Pagina de Usuarios</title>
</head>
<body>
    <header>
        <nav>
            <li>Vendas</li>
            <li>Clientes</li>
            <li>Dados</li>
            <li>Perguntas</li>
            <li>Sair</li>
        </ul>
    </nav>
    <button>menu</button>
    </header>
    <ul>

</body>
</html>