<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/assets/css/Modelo-Paginas.css">
    <title>Modelo De Paginas</title>
</head>
<body>
    <%- include('../header'); %>
    <h1> Modelos das paginas
    </h1>
    
      <main>
          
        
        <div class="container-card">

          <div class="card">
            <img src="/assets/img/modelos/plano-basico.png" alt="">
          
          
        </div>
          <button><a href="/beta/planobasico" target="_blank">Ver Plano Basico
          </a> </button>
        </div>
          

<div class="container-card">

  <div class="card">
    <img src="/assets/img/modelos/plano-medio.png" alt="">
  </div>
  
  <button><a href="/beta/planomedio" target="_blank">Ver Plano Medio</a> </button>
</div>
          
<div class="container-card">

  <div class="card">
    <img src="/assets/img/modelos/plano-top.png" alt="">
  </div>
  
  <button><a href="/beta/planotop" target="_blank">Ver Plano Top</a> </button>
</div>
        


          
        
      </main>
         
</body>
</html>