<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/assets/css/Modelo-Paginas.css">
    <title>Modelo De Paginas</title>
</head>
<body>
    <%- include('../parts/header'); %>
    <h1> Modelos das paginas </h1>
    
    <main>
          
      <div class="wrapper">
        <section>
          <div class="container" onclick="">
            <div class="card">
              <div class="front">
                <div class="content">
                  <img src="/assets/img/modelos/1.png"/>
                  <h3>Plano Basico</h3>
                </div>
              </div>
              <div class="back">
                <div class="content">
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Assumenda rerum tenetur doloremque.
                  </p>
                  <button><a href="/beta/planobasico" target="_blank" class="button">Ver mais</a></button>
                </div>
              </div>
            </div>
          </div>
          <div class="container" onclick="">
            <div class="card">
              <div class="front">
                <div class="content">
                  <img src="/assets/img/modelos/2.png"/>

                  <h3>Plano Top</h3>
                </div>
              </div>
              <div class="back">
                <div class="content">
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Praesentium deleniti at similique!
                  </p>
                  <button><a href="/beta/planotop" target="_blank" class="button">Ver mais</a></button>
                </div>
              </div>
            </div>
          </div>
          <div class="container" onclick="">
            <div class="card">
              <div class="front">
                <div class="content">
                  <img src="/assets/img/modelos/3.png"/>

                  <h3>Plano Medio</h3>
                </div>
              </div>
              <div class="back">
                <div class="content">
                  <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Magni similique tenetur animi.
                  </p>
                  <button><a href="/beta/planomedio" target="_blank" class="button">Ver mais</a></button>
                </div>
              </div>
            </div>
            
          </div>
        </section>
        
   
      </div>


        
      
    </main>
       
</body>
</html>

          
        
      </main>
         
</body>
</html>