<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style-pagina-top.css">
    <link rel="stylesheet" href="/assets/css/carrocel.css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
       <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
   
</head>
    <title>Document</title>
</head>
<body>
    <%- include('../parts/header'); %>
    <main>
        <div class="logo-client-area">
            <img src="/assets/img/rocket.png">
        </div>
        <div class="client-nav">
            <ul>
                <li><a href="#sobre-nos">Sobre nós</a></li>
                <li><a href="#produtos">Produtos</a></li>
                <li><a>Carrinho</a></li>
            </ul>
        </div>
        <div class="container-flex">
            <div class="container-margin">
                <div class="container-left">
                    <h1>Loja Teste</h1><br><br>
                    <h3>Slogan da loja</h3><br>
                    <p>Nessa loja nós blablab
                        lablablab
                        lablablablablablablablablablabla
                        blablablablablablablablablablablabla
                        lablablablablablablablablablablablablablablablablablab
                        lablablablablabla
                        blablablablablablablablablabla
                    </p>
                </div>
                <div class="container-rigth">
                    <img src="/assets/img/rocket.png">
                </div>
            </div>
            <div class="divisao"></div>
            <br>
        </div>
        <br><br>
        <center><hr></center>
        <br><br>
        <section id=sobre-nos><div class="titulo">Sobre Nós</div><br></section>
        
        <!-- ============================Carrosel========================= -->
        <div class="container-flex">
            <div class="container-margin">

                
             
                     <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">Slide 1</div>
                          <div class="swiper-slide">Slide 2</div>
                          <div class="swiper-slide">Slide 3</div>
                          <div class="swiper-slide">Slide 4</div>
                          <div class="swiper-slide">Slide 5</div>
                          <div class="swiper-slide">Slide 6</div>
                          <div class="swiper-slide">Slide 7</div>
                          <div class="swiper-slide">Slide 8</div>
                          <div class="swiper-slide">Slide 9</div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                      </div>
                
                
            </div>
               
            </div>
        </div>
        <!-- ===============================Produtos================================== -->
        <br>
        <section id="produtos"><div class="titulo">Produtos</div></section>
        <br>
        <div class="container-flex">
        <div class="container-margin-produtos">
            <div class="produto"><br><img src="/assets/img/rocket.png"><br>Nome<br><br><br><br><div class="btn-produto"><a href="/produto">Comprar</a></div></div>
            <div class="produto"><br><img src="/assets/img/rocket.png"><br>Nome<br><br><br><br><div class="btn-produto"><a href="/produto">Comprar</a></div></div>
            <div class="produto"><br><img src="/assets/img/rocket.png"><br>Nome<br><br><br><br><div class="btn-produto"><a href="/produto">Comprar</a></div></div>
            <div class="produto"><br><img src="/assets/img/rocket.png"><br>Nome<br><br><br><br><div class="btn-produto"><a href="/produto">Comprar</a></div></div>
            <div class="produto"><br><img src="/assets/img/rocket.png"><br>Nome<br><br><br><br><div class="btn-produto"><a href="/produto">Comprar</a></div></div>
            <div class="produto"><br><img src="/assets/img/rocket.png"><br>Nome<br><br><br><br><div class="btn-produto"><a href="/produto">Comprar</a></div></div>
            <div class="produto"><br><img src="/assets/img/rocket.png"><br>Nome<br><br><br><br><div class="btn-produto"><a href="/produto">Comprar</a></div></div>
            <div class="produto"><br><img src="/assets/img/rocket.png"><br>Nome<br><br><br><br><div class="btn-produto"><a href="/produto">Comprar</a></div></div>
            
            
        </div>
        </div>
        <br>
        <br>
        <br>
        
    </main>
    <%- include('../parts/footer'); %>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/js/carrocel.js"></script>
</body>
</html>