<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/css/style-pagina-top.css">
    <link rel="stylesheet" href="/public/assets/css/carrocel.css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
       <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
   
</head>
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo-container">
                <a href="#Home"><img src="/public/assets/img/Vitural_space-logo.png" alt="logo da empresa" class="logo"></a>
                <a href="" class="down-arrow"><img src="./public/assets/img/down-arrow.png"></a>
            </div>
                    
            <nav id="nav-menu">
                    <ul>
                        <li><a href="#Home">Home</a></li>
                        <li><a href="#Sobre_nos">Sobre nos</a></li>
                        <li><a href="#planos">Planos</a></li>
                        <li><a href="#sua_loja">Como montar sua Loja</a></li>
                        <li><a href="modelos.html">Modelos de Paginas</a></li>
                        <li><i class='bx bx-user'></i><a href="#">Login</a></li>
                        <li><i class='bx bx-user-plus'></i><a href="#">Criar Conta</a></li>
                    </ul>
            
            </nav>
                <div class="nav_toggle" id="nav-toggle">
                </div>
        </div>
        <div class="nav_toggle" id="nav-toggle">
            <i class='bx bx-menu' animation='tada-hover'></i> </div>
    </header>
    <main>
        <div class="container-flex">
            <div class="container-margin">

                <!-- ============================Carrosel========================= -->
             
                     <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">Slide 1</div>
                          <div class="swiper-slide">Slide 2</div>
                          <div class="swiper-slide">Slide 3</div>
                          <div class="swiper-slide">Slide 4</div>
                          <div class="swiper-slide">Slide 5</div>
                          <div class="swiper-slide">Slide 6</div>
                          <div class="swiper-slide">Slide 7</div>
                          <div class="swiper-slide">Slide 8</div>
                          <div class="swiper-slide">Slide 9</div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                      </div>
                
                
            </div>
                <div class="navegacao-carrosel">
                    <label class="label-carrosel" for="#slide1"></label>
                    <label class="label-carrosel" for="#slide2"></label>
                    <label class="label-carrosel" for="#slide3"></label>
                    <label class="label-carrosel" for="#slide4"></label>
                    <label class="label-carrosel" for="#slide5"></label>
                </div>
            </div>
        </div>
        <br>
        <center><hr></center>
        <br>
        <div class="container-flex">
            <div class="conteudo-flex"><img src="./public/assets/img/img-média/image-removebg-preview.png" alt="Monitor"></div>
            <div class="conteudo-flex">
                <div class="info-conteudo-flex">
                    <div class="info-conteudo-format">
                        <h2>Monitor Acer 144hz</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-flex">
            <div class="conteudo-flex">
                <div class="info-conteudo-flex">
                    <div class="info-conteudo-format">
                        <h2>HeadSet HyperX</h2>
                    </div>
                </div>
            </div>
            <div class="conteudo-flex"><img src="./public/assets/img/img-média/headset.png" alt="HeadSet"></div>
        </div>
        <div class="container-flex">
            <div class="conteudo-flex"><img src="./public/assets/img/img-média/cadeira.png" alt="Cadeira"></div>
            <div class="conteudo-flex">
                <div class="info-conteudo-flex">
                    <div class="info-conteudo-format">
                        <h3>Cadeira Gamer Dxracer</h3>
                    </div>
                </div>

            </div>
        </div>
    </main>
    <footer>
        Entre Em contato conosco
        <br>
        Ajuda
        <br>
        Siga-nos nas Redes Sociais
    </footer>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/public/assets/js/carrocel.js"></script>
</body>
</html>