<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style-Medio.css">
    <link rel="stylesheet" href="/assets/css/carrocel.css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
       <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
   
</head>
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo-container">
                <a href="#Home"><img src="/assets/img/Vitural_space-logo.png" alt="logo da empresa" class="logo"></a>
                
            </div>
                    
            <nav id="nav-menu">
                    <ul>
                        <li><a href="/#Home">Home</a></li>
                        <li><a href="/#Sobre_nos">Sobre nos</a></li>
                        <li><a href="/#planos">Planos</a></li>
                        <li><a href="/#sua_loja">Como montar sua Loja</a></li>
                        <li><a href="/ModeloDePaginas">Modelos de Paginas</a></li>
                        <li><i class='bx bx-user'></i><a href="#">Login</a></li>
                        <li><i class='bx bx-user-plus'></i><a href="#">Criar Conta</a></li>
                    </ul>
            
            </nav>
        
        </div>
    </header>
    <main>
        <div class="container-flex-margin">
            <div class="logo">
                <img src="/assets/img/img-teste.png">
            </div>
            <br>
            <div class="nav-client">
                <ul>
                    <li><a>Sobre nós</a></li>
                    <li><a>Produtos</a></li>
                    <li><a>Carrinho</a></li>
                </ul>
            </div>
            <br><br>

            <div class="container-flex">
                <div class="container-left">
                    <h2>Loja Teste</h2><br><br>
                    <p>Slogan</p><br><br>
                    <p>Descrição</p>
                </div>
                <div class="container-rigth">
                    <img src="/assets/img/img-teste.png">
                </div>
            </div>
            <br><br>
            <hr>
            <br><br>
            <h2>Produtos</h2>
            <br><br>
            <div class="box-prdutos">
                <div class="item-produto">
                    <div class="img-produto">
                        <img src="/assets/img/img-média/cadeira.png">
                    </div>
                    <div class="descricao-produto">
                        <br><br>
                        <h3>Titulo do Produto</h3><br><br>
                        <p>Descrição</p><br><br><br><br><br><br>
                        <a>Comprar</a>
                    </div>
                </div>
                <div class="item-produto">
                    <div class="descricao-produto">
                        <br><br>
                        <h3>Titulo do Produto</h3><br><br>
                        <p>Descrição</p><br><br><br><br><br><br>
                        <a>Comprar</a>
                    </div>
                    <div class="img-produto">
                        <img src="/assets/img/img-média/headset.png">
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br><br>
    </main>
    <footer>
        <div class="titulo">Contato</div>
        <div class="container-margin-footer">
            <div class="footer-part">
                <img src="/assets/img/rocket.png"><br>
                <center>Telefone</center><br><br>
                +55(11)99999-9999
            </div>
            <div class="footer-part">
                <img src="/assets/img/rocket.png"><br>
                <center>Whatsapp</center><br><br>
                +55(11)99999-9999
            </div>
            <div class="footer-part">
                <img src="/assets/img/rocket.png"><br>
                <center>Email</center><br><br>
                email-cliente@gmail.com
            </div>
        </div>
    </footer>
</body>
</html>