<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/css/style-planobasico.css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Plano Basico</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/public/assets/img/Vitural_space-logo.png" alt="logo da empresa">
        </div>
        <nav>
            <ul>
                <li><a href="#Home">Home</a></li>
                <li><a href="#Sobre_nos">Sobre nos</a></li>
                <li><a href="#planos">Planos</a></li>
                <li><a href="#sua_loja">Como montar sua Loja</a></li>
                <li><a href="modelos.html">Modelos de Paginas</a></li>
                <li><i class='bx bx-user'></i><a href="login.html">Login</a></li>
                <li><i class='bx bx-user-plus'></i><a href="criarconta.html">Criar Conta</a></li>
            </ul>
        </nav>
      
        <button id="btnmobile">
            <i class='bx bx-menu'  ></i>
        </button>
    </header>
    <main class="container-conteudo">
        <div class="conteudo-diversos">

            <section class="conteudo-1">
                <img src="/public/assets/img/img-basico/cadeira gamer.jpg" alt="cadeira gamer">
                <div class="info">
                    <h1>Cadeira Gamer Pichau </h1>
                    <h2>R$ 1.325,00</h2> 
                </div>
               
                <button>Comprar</button>
            </section>
            
            <section class="conteudo-2">
                <img src="/public/assets/img/img-basico/teclado.jpg" alt="teclado mecanico">
                <div class="info">
                       <h1>teclado mecanico roxer</h1>
                        <h2>R$ 325.00</h2>
                </div>
             
                <button>Comprar</button>
            </section>
            <section class="conteudo-3">
                <img src="/public/assets/img/img-basico/notebook.jpg" alt="notebook">
                <div class="info">
                    <h1>nome do produto</h1>
                    <h2>preço do produto</h2>
                </div>

                <button>Comprar</button>
            </section>

            <section class="conteudo-4">
                <img src="/public/assets/img/img-basico/monitor gamer.jpg" alt="monitor gamer">
                <div class="info">
                    <h1>nome do produto</h1>
                    <h2>preço do produto</h2>
                </div>
                <button>Comprar</button>
            </section>

            <section class="conteudo-5">
                <img src="/public/assets/img/img-basico/g29.jpg" alt="volante simulador">
                <div class="info">
                    <h1>nome do produto</h1>
                    <h2>preço do produto</h2>

                </div>
                <button>Comprar</button>
            </section>

        </div>
        
    </main>
    <footer>
        <div class="contatos">
            <div >
               <h5>Loja</h5>
               <Ul>
                   <li>Quem Somos Nos</li>
                   <li>Loja de Temas</li>
                   <li>Planos</li>
                   <li>Forma de Pagamentos</li>
               </Ul>
               
           </div>
           <div>
               <h5>Contatos</h5>
               <Ul>
                   <li>Quem Somos Nos</li>
                   <li>Loja de Temas</li>
                   <li>Planos</li>
                   <li>Forma de Pagamentos</li>
               </Ul>
           </div>
           <div>
               <h5>Ajuda</h5>
               <Ul>
                   <li>Quem Somos Nos</li>
                   <li>Loja de Temas</li>
                   <li>Planos</li>
                   <li>Forma de Pagamentos</li>
               </Ul>
           </div>
       </div>
          <div class="end">
              <div>
               <h5>Siga-nos nas Redes Sociais</h5>
           </div>
          
          </div>
    </footer>


     
     <!--========== MAIN JS ==========-->
     <script src="/public/assets/js/main.js"></script>
</body>
</html>