<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/assets/css/style-Medio.css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<header>
    <div class="logo-container">
        <a href="#Home"><img src="/public/assets/img/Vitural_space-logo.png" alt="logo da empresa" class="logo"></a>
    </div>
                
    <nav id="nav-menu">
        <ul>
            <li><a href="#Home">Home</a></li>
            <li><a href="#Sobre_nos">Sobre nos</a></li>
            <li><a href="#planos">Planos</a></li>
            <li><a href="#sua_loja">Como montar sua Loja</a></li>
            <li><a href="modelos.html">Modelos de Paginas</a></li>
            <li><i class='bx bx-user'></i><a href="#">Login</a></li>
            <li><i class='bx bx-user-plus'></i><a href="#">Criar Conta</a></li>
    </ul>
    </nav>
    <div class="BarraDeBusca">
    <i class='bx bx-search-alt-2'></i>
    <input type="search" placeholder="Busca">
    </div>
    <div class="nav_toggle" id="nav-toggle">
    <i class='bx bx-menu' animation='tada-hover'></i> 
    </div>
    </header>
    <main>
        <div class="container-flex">
            <div class="conteudo-flex"><img src="./public/assets/img/img-média/image-removebg-preview.png" alt="Monitor"></div>
            <div class="conteudo-flex">
                <div class="info-conteudo-flex">
                    <div class="info-conteudo-format">
                        <h2>Monitor Acer 165hz 0,5ms</h2>
                        <br>
                        <br>
                        <br>
                        <h3>R$: 888</h3>
                    </div>
                </div>
            </div>
        </div>
    
    <div class="container-flex">
    <div class="conteudo-flex"><img src="./public/assets/img/img-média/cadeira.png" alt="Cadeira"></div>
    <div class="conteudo-flex">
        <div class="info-conteudo-format">
            <h2>Cadeira Dxracer</h2>
                <br>
                <br>
                <br>
                <h3>R$: 999</h3>
            
        </div>
    </div>
    </div>
    <div class="container-flex">
        <div class="conteudo-flex">
            <div class="info-conteudo-flex">
                <div class="info-conteudo-format">
                    <h2>HeadSet HyperX</h2>
                    <br>
                    <br>
                    <br>
                    <h3>R$:777</h3>
                </div>
            </div>
        </div>
        <div class="conteudo-flex"><img src="./public/assets/img/img-média/headset.png" alt="HeadSet"></div>
    
    
    
    
    </div>
    
    </main>
<footer>
    Entre Em contato conosco
<br>
    Ajuda
<br>
    Siga-nos nas Redes Sociais

</footer>
</body>
</html>