<!DOCTYPE html>
<html lang="Pt-br">
  <head>
    <meta charset="utf-8" />
    <title>Produto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/assets/css/produto.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

  </head>

  <body>
    <header>
        <div class="logo">
            <img src="/assets/img/Vitural_space-logo.png" alt="logo da empresa">
        </div>
        <nav>
            <ul>
                <li><a href="/#Home">Home</a></li>
                <li><a href="/#Sobre_nos">Sobre nos</a></li>
                <li><a href="/#planos">Planos</a></li>
                <li><a href="/#sua_loja">Como montar sua Loja</a></li>
                <li><a href="/ModeloDePaginas">Modelos de Paginas</a></li>
                <li><i class='bx bx-user'></i><a href="login.html">Login</a></li>
                <li><i class='bx bx-user-plus'></i><a href="criarconta.html">Criar Conta</a></li>
            </ul>
        </nav>
      
        <button id="btnmobile">
            <i class='bx bx-menu'  ></i>
        </button>
    </header>

    <main>
      <div class="container-produto">
<div class="info">
    <h3>codigo do produto:2</h3>
    <h1>Produto Lorem ipsum dolor sit.</h1>

</div>
        <div class="produto-full">
          <div class="container-slide">
<div class="slides">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="/assets/img/Dayflow Sitting basico.png" alt=""></div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
      <div class="swiper-slide">Slide 4</div>
      <div class="swiper-slide">Slide 5</div>
      <div class="swiper-slide">Slide 6</div>
      <div class="swiper-slide">Slide 7</div>
      <div class="swiper-slide">Slide 8</div>
      <div class="swiper-slide">Slide 9</div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>

</div>

          </div>
           
        </div>
        <div class="preco">
            <h3>Por: R$ 2500,00</h3>
            <h1>R$ 1489,90</h1>
            <h4>Pagamento a vista</h4>
            <button type="submit">Comprar</button>
        </div>

      </div>

      <div class="info-tecnicas">
        <div id="descricao">
          <h5>Descrição</h5>
          <button id="mostrar"><i class='bx bx-expand-vertical'></i></button>
          <div class="text">

            <p>Cadeira Gamer Alpha Gamer VegaCadeira Gamer Alpha Gamer Vega - Preto
              As cadeiras gaming Alpha Gamer Vega incluem duas almofadas: para apoio lombar e também para apoio da cabeça.
               Caso pretendas sentar-te numa posição mais reta, remove as almofadas. 
               Se pretendes uma posição mais relaxada e confortável, então instala as almofadas. 
               É tão simples quanto isto.
                Cadeira Gamer Reclinável 
                Puxa a alavanca lateral, encosta-te e relaxa! 
                Podes ajustar a inclinação do encosto para um posicionamento até 180 graus.
                 Alto ou baixo, pensámos em ti! As cadeiras gaming Alpha Gamer Vega possuem 9 cm de capacidade de ajuste da altura do assento.
                Apoios de Braços Ajustáveis
                A ergonomia é um dos nossos principais focos de atenção; E como tal, 
                desenvolvemos apoios de braço facilmente ajustáveis, em altura e rotação horizontal, 
                para um ótimo encaixe com a estrutura corporal de qualquer pessoa.
                Aproveite essa oportunidade e adquira a Cadeira Gamer Alpha Gamer Vega no KaBuM! </p>
              </div> 
              </div>
  
      </div>
    </main>

    <footer>
      <div class="contatos">
          <div >
             <h3>Loja</h3>
             <Ul>
                 <li>Quem Somos Nos</li>
                 <li>Loja de Temas</li>
                 <li>Planos</li>
                 <li>Forma de Pagamentos</li>
             </Ul>
             
         </div>
         <div>
             <h3>Contatos</h3>
             <Ul>
                 <li>Quem Somos Nos</li>
                 <li>Loja de Temas</li>
                 <li>Planos</li>
                 <li>Forma de Pagamentos</li>
             </Ul>
         </div>
         <div>
             <h3>Ajuda</h3>
             <Ul>
                 <li>Quem Somos Nos</li>
                 <li>Loja de Temas</li>
                 <li>Planos</li>
                 <li>Forma de Pagamentos</li>
             </Ul>
         </div>
     </div>
        <div class="end">
            <div>
             <h3>Siga-nos nas Redes Sociais</h3>
         </div>
        
        </div>
  </footer>

  </body>
  <!-- Swiper JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script src="/assets/js/slide-produtos.js"></script>

  <!-- menu -->
  <script src="/assets/js/main.js"></script>
</html>
