<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/css/layoutsCSS/parts/header.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>HEADER</title>
</head>
<body>
    <header>
        <div class="logo">
            <p>His</p>
        </div>
        <nav>
            <ul>
                <li><a href="#home" class="active">HOME</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#produtos">Produtos</a></li>
                
                <li><i class='bx bx-search-alt-2' style="--clr:#fff"><input type="search" name="" id=""></i></li>
                <li><i class='bx bx-cart' style="--clr:#fff"></i><a href="cart"> Carrinho</a></li>
                <li><a href="#Login"><i class='bx bx-user' style="--clr:#fff"></i>Login</a></li>
                <li><i class='bx bxs-user-plus' style="--clr:#fff"></i><a href="/create">Create</a></li>
            </ul>
        </nav>
        <div class="hamburg">
            <div class="icon nav-icon-8">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
            
        </div>
    </header>
<main>

</main>
    <script src="../../../public/assets/js/layoutJS/Partsheader.js"></script>
</body>
</html>