@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

:root {
  --cor--primaria: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #0071b2;
  --cor--secundaria: #00517f;
  --cor--liteen: #4dbeff;
  --cor--media: #398ebf;
  --border--bottom: 2px solid rgba(0, 0, 0, 0.5);
  --titulos: 48px;
  --textos: 20px;
  --textcolor: #fff;
  --font-family: "Nunito", sans-serif;
  --fontweidt: bold;
  --z--index-max: 100;
  --z--index-medio: 50;
  --z--index-baixo: 1;
}