@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

:root {
  --cor--primaria: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #0071b2;
  --cor--secundaria: #00517f;
  --cor--liteen: #4dbeff;
  --cor--media: #398ebf;
  --border--bottom: 2px solid rgba(0, 0, 0, 0.5);
  --titulos: 48px;
  --textos: 20px;
  --textcolor: #fff;
  --font-family: "Nunito", sans-serif;
  --fontweidt: bold;
  --z--index-max: 100;
  --z--index-medio: 50;
  --z--index-baixo: 1;
}

footer{
  max-width: 480px;
  display: flex;
  flex-wrap: wrap;
justify-content: center;
align-items: center;
padding-bottom: 30px;
  background-color: black;
  
}

.contatos,.end. .scroll{
display: flex;
justify-content: center;
margin: auto;

}

li{
  color: #fff;
}

@media (min-width:481px) and (max-width:768px){
  footer{
    max-width: 768px;
    width: 100%;
  }

  .contatos{
    display: flex;
    flex-wrap: wrap;
  }

  body > footer > div.contatos > div > ul>li{
    margin-left: 30px;
  }

}

@media (min-width:769px) and (max-width:1280px){
  footer{
    max-width: 1280px;
    width: 100%;
  }

  .contatos{
    display: flex;
    flex-wrap: wrap;
  }

  body > footer > div.contatos > div > ul>li{
    margin-left: 30px;
  }

}

@media (min-width:1281px) {
  footer{
    margin: auto;
    min-width: 1400px;
    width: 100%;
  }

  .contatos{
    display: flex;
    flex-wrap: wrap;
  }

  body > footer > div.contatos > div > ul>li{
    margin-left: 30px;
  }

}