@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
:root {
  --cor--primaria: #91d7f2;
  --border--bottom: 2px solid rgba(0, 0, 0, 0.5);
  --titulos: 48px;
  --textos: 20px;
  --textcolor: #ffff;
  --font-family: "Nunito", sans-serif;
  --fontweidt: bold;
  --z--index-max: 100;
  --z--index-medio: 50;
  --z--index-baixo: 1;
}

/*======reset=======*/
* {
    box-sizing: border-box;
    font-family: var(--font-family);
  margin: 0;
  padding: 0;
}


 
    
/*====== login=====*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: radial-gradient(
        circle at 18.68% 38.6%,
        #743cb6 0,
        #5e35b5 25%,
        #422eb3 50%,
        #0829b1 75%,
        #0025b0 100%
      );
  
}

    h2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.center{
    /* width: 390px; */
    /* height: 570px; */
    width: 443px;
    height: 760px;
    position: relative;
    cursor: pointer;
    
}

.center .login{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.089);
    backdrop-filter: blur(20px);
    border: 1px solid while;
    color: var(--textcolor);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.055);
    border-radius: 60px 10px;
    transition: all .4s;
}

.center .login label{
    margin-top: 20px;
    font-size: var(--textos);
    text-align:start;
    font-family: "Nunito";
        color: var(--textcolor);

}

.center:hover .login{
    color: rgb(16, 140, 212);
}


.center::before,
.center::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #7f00ff;
    z-index: -20;
    transition: all .4s;
    border-radius: 60px 10px;
}

.center::before{
    top: 0;
    right: 0;
}

.center::after{
    bottom: 0;
    left: 0;
    background: #e100ff;

}

.center:hover::before{
    width: 50px;
    height: 50px;
    transform: translate(20px, -20px);
    border-radius: 50%;
}

.center:hover::after{
    width: 100px;
    height: 100px;
    transform: translate(-20, 20px);
    border-radius: 50%;
}

form{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}


input {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 37px;
    width: 250px;
    height: 45px;
    margin-left: 29px;
    padding-left: 12px;
    font-size: var(--textos);
    transition: 0.2s;
    outline: none;
    border: none;
    background-color: rgba(250, 250, 250, 0.562);
    box-shadow: 0px 4px 4px rgba(88, 55, 207, 0.541);
    border-radius: 30px;
    text-shadow: 10px;
  }
  
  .login input[type="text"]:focus,
  .login input[type="file"]:focus,
  .login input[type="number"]:focus,
  .login #img:focus
   {
    background-color:#ab91f283;
  }

  .login input[type="text"]::placeholder,
  .login input[type="file"]::placeholder,
  .login input[type="number"]::placeholder,
  .login #img::placeholder {
    font-size: 15px;
    color: var(--textcolor);
    text-indent: 10px;
  }



  .login input[type="submit"] {
    color: var(--textcolor);
    background: linear-gradient(
      180deg,
      rgba(0, 7, 163, 0.6) 0%,
      rgba(10, 19, 223, 0.6) 100%
    );
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    margin-top: 35px;
  }
  .login input[type="submit"]:hover {
    color: var(--textcolor);
    background: linear-gradient(
      180deg,
      rgba(253, 0, 253, 0.6) 100%,
      rgba(135, 28, 150, 0.6) 1%
    );
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    transition: 1s;
  }

  /* img */
 
  input[type=file]{
    opacity: 0;
  }
i{
  margin-left: 20px;
}

  /*   recuperar  */

  .recuperar{
      
      margin-top: 30px;
      margin-left: 42px;
      color: var(--cor--primaria);
    transition: color .6s cubic-bezier(.19,1,.22,1);
  }

  body > div > div > form > a.criarconta{
    margin-top: 10px;
    margin-left: 42px;
    color: var(--cor--primaria);
  transition: color .6s cubic-bezier(.19,1,.22,1);
}

