@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
:root {
  --cor--primaria: #91d7f2;
  --cor--secundaria: #0071b2;
  --border--bottom: 2px solid rgba(0, 0, 0, 0.5);
  --titulos: 48px;
  --textos: 20px;
  --textcolor: #ffff;
  --font-family: "Nunito", sans-serif;
  --fontweidt: bold;
  --z--index-max: 100;
  --z--index-medio: 50;
  --z--index-baixo: 1;
}

/*======reset=======*/
* {
    box-sizing: border-box;
    font-family: var(--font-family);
  margin: 0;
  padding: 0;
}
.header{
  background-color: var(--cor--secundaria);
  height: 100px;
  width: 100vw;
  display: flex;
  flex-direction: row;
}
.logo{
  display: flex;
  width: 100px;
  height: 100px;
  margin-left: 20px;
  flex-grow: 50;
}
.nav-menu{
  display: flex;
  align-items: center;
  flex-grow: 50;
  justify-content: flex-end;
}
div.nav-menu > a > i {
  margin-right: 20px;
  color: black;
  cursor: pointer;
}
.lateral-menu-rigth{
  background-color: none;
  width: 200px;
  height: 100vh;
  position: absolute;
  top:100px;
  overflow: hidden;
}

.btnmobile{
  font-size: 25px;
}
.lateral-menu-rigth > ul > li{
  font-size: 13px;
  list-style-type: none;
}
.lateral-menu-rigth > ul > li > a{
  background-color: var(--cor--secundaria);
  text-decoration: none;
  color: black;
  border: black 1px solid;
  padding: 10px 25px;
  display: flex;
  margin: 0;
  position: relative;
  left: 200px;
  transition:  2s;
}
.lateral-menu-rigth > ul > li > a:hover{
  background-color: var(--cor--primaria);
  color: white;
}
.btnmobile:hover ~ .lateral-menu-rigth > ul > li > a{
  transform: translateX(-200px);
}


/* ==================================main==================================== */
.container-flex{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
/* ==============================================Conteiner Left======================================= */
.container-flex-left{
  display: flex;
  width: 5vw;
  max-width: 5vw;
  background-color: #1D1531;
  flex-grow:5;
}
div.container-flex-left > a > i {
  color: white;
}
.lateral-menu-left{
  display: flex;
  position: absolute;
  width: 150px;
  height: 100vh;
  background-color: #1D1531;
  flex-direction: column;
  transition: 0.5s;
  right: 360px;
  max-width: 150px;
}
.btnmobile-left:hover ~ .lateral-menu-left{
  transform: translateX(150px);
}
.list-menu-left{
  display: flex;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  max-width: 100px;
}
.list-menu-left > ul > li{
  list-style-type: none;
}
.list-menu-left > ul > li> a {
  text-decoration: none;
  color: white;
  border: white 0.5vw dashed;
  padding: 15px 60px;
  display: flex;
  flex-wrap: nowrap;
}
/* =============================================Conteiner Rigth==================================== */
.container-flex-rigth{
  display: flex;
  width: 95vw;
  max-width: 95vw;
  background-color: rgba(10, 19, 223, 0.22);
  flex-grow: 95;
}
.flex-rigth-margem{
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 10px;
}
/* ---------------------Titulo-------------------- */
.container-rigth-box{
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
/* ---------------------Resumo De Vendas ------------------- */
.resumo-vendas{
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.resumo-vendas-box{
  display: flex;
  width: 70px;
  height: 65px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.label-box-white{
  font-size: 6px;
  display: flex;
  height: 10px;
  width: 30px;
}
.vendas-box-white{
  display: flex;
  background-color: white;
  width: 60px;
  height: 40px;
  border-radius: 5px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.img-box-white{
  border: black 1px dashed;
  width: 30px;
  height: 40px;
}
.card-view-dados{
  border: black 1px dashed;
  width: 30px;
  height: 40px;
}

/* -------------------------Grafico--------------------------------- */
  .container-grafico{
    width: 320px;
    height: 200px;
    max-width: 320px;
    max-height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .container-grafico > label {
    font-size: 9px;
    margin:5px;
  }
  .grafico{
    background-color: white;
    width: 270px;
    height: 200px;
    border-radius: 10px;
  }
