/* ================Variaveis======================= */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

:root {
  --cor--primaria: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #0071b2;
  --cor--secundaria: #00517f;
  --cor--liteen: #4dbeff;
  --cor--media: #398ebf;
  --border--bottom: 2px solid rgba(0, 0, 0, 0.5);
  --titulos: 48px;
  --textos: 20px;
  --textcolor: #fff;
  --font-family: "Nunito", sans-serif;
  --fontweidt: bold;
}
/* =================RESET======================== */
*{
    padding: 0;
    margin: 0;
    
  }
/* ===================HEADER==================== */

    header {
      height: 100px;
      width: 100vw;
      position: absolute;
      transform: translateY(-150px);
    }
    header:hover{
      animation: arrow 0.7s both;
    }

    @keyframes arrow {
      0% {transform: translateY(-121px);}
      10%{transform: translateY(-110px);}
      20%{transform: translateY(-100px);}
      30%{transform: translateY(-80px);}
      40%{transform: translateY(-60px);}
      50%{transform: translateY(-40px);}
      60%{transform: translateY(-30px);}
      70%{transform: translateY(-20px);}
      80%{transform: translateY(-10px);}
      90%{transform: translateY(-5px);}
      100%{transform: translateY(-0);}
    }
    .header-container{
        background-color: var(--cor--secundaria);
        height: 18vh;
        display: flex;
        flex-direction: row;
    }
    .logo-container{
        flex-grow: 80;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    #nav-menu{
        flex-grow: 50;
        display: flex;
        align-items: center;
        padding-left: 5vw;
    }
    nav > ul {
        display: flex;
        list-style-type: none ;
    }
    nav > ul > li {
        display: flex;
        justify-content: center;
    }
    header > nav > ul > li > i{
        line-height: 2px;
    }
    nav > ul > li >a{
        color: white;
        padding: 1vh 2vw;
        text-decoration: none;
        font-family: var(--font-family);
    }
    nav > ul > li >a:hover{
        border-radius: 2px 6px 8px 10px;
        border-bottom: 5px solid #4dbeff;
    }
    .logo {
        width: 110px;
        display: flex;
        align-items: flex-end;
    }
    #nav-toggle

  /* ==============BOTÕES============== */
  #Home{
    padding-top: 150px;
  }
  #planos{
    padding-top: 150px;
  }
  #sua_loja{
    padding-top: 150px;
  }
  /* ====================MAIN================== */
/* =======================Carrosel============================= */


.navegacao-carrosel{
    bottom: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: flex-end;

    
}

.label-carrosel{
    float: right;
    width: 25px;
    height: 7px;
    border: 2px solid black;
    margin: 3px;
    border-radius: 10px;
    transition: .5s;
}
.label-carrosel:hover{
    background-color: black;
    
}
/* ========================Main================================== */

  main{
    border: deeppink 2px dashed;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .logo-client-area{
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: flex-end;
  }
  .logo-client-area > img {
    width: 100px;
  }
  /* =========================Navegação do cliente======================== */
  .client-nav{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .client-nav > ul{
    display: flex;
  }
  .client-nav > ul > li {
    list-style-type: none;
  }
  .client-nav > ul > li > a{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 40px;
    margin: 0px 10px;
    border-radius: 20px;
  }
  .client-nav > ul > li > a:hover{
    background-color: white;
    border: 2px black solid;
    color: black;
  }
  .container-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .container-margin{
    max-width: 900px;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.container-margin-produtos{
  display: flex;
  width: 900px;
  max-width: 900px;
  flex-direction: row;
  flex-wrap: wrap;
}
  .container-left{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .container-rigth{
    width: 400px;
    height: 400px;
  }
  .container-rigth > img{
    width: 400px;
    height: 400px;
    opacity: 80%;
    border-radius: 30px;
  }
  hr{
    display: flex;
    justify-content: center;
    width: 700px;
  }
  .titulo{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 20px;
  }
  .produto{
    border: black 2px solid;
    height: 290px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin : 10px;
  }
  .produto > img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
  }
  .btn-produto > a {
    background-color: yellow;
    padding: 10px 40px;
    border-radius: 5px;
  }
  /* =====================FOOTER======================== */
footer{
    width: 100vw;
    height: 300px;
    background-color: black;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
.container-margin-footer{
  width: 900px;
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.footer-part{
  border-left: white 2px solid;
  border-right: white 2px solid;
  height: 200px;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.footer-part > img{
  width: 100px;
  height: 100px;
}