/* ================Variaveis======================= */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

:root {
  --cor--primaria: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #0071b2;
  --cor--secundaria: #00517f;
  --cor--liteen: #4dbeff;
  --cor--media: #398ebf;
  --border--bottom: 2px solid rgba(0, 0, 0, 0.5);
  --titulos: 48px;
  --textos: 20px;
  --textcolor: #fff;
  --font-family: "Nunito", sans-serif;
  --fontweidt: bold;
}
/* =================RESET======================== */
*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    
  }
  .logo {
    width: 120px;
    height: auto;
  }

  body {
    display: flex;
    flex-direction: column;
  }
  header {
    display: flex;
    position: fixed;
    width: 100%;
   
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      #0071b2;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

  header > nav {
    margin-left: 11.5rem;
    display: flex;
    align-items: center;
  }

  header > nav > ul {
    display: flex;
  }

  header > nav > ul > li {
    display: block;
    flex-direction: row;
    margin: 0.5rem;
  }

  header > nav > ul > li > a {
    font-family: "Nunito";
    font-size: 18px;
    text-decoration: none;
    color: #fff;
  }
  .bx {
    font-size: 20px;
    color: #dee1ee;
  }

  header > nav > ul > li > a:hover {
    border-radius: 2px 6px 8px 10px;
    border-bottom: 5px solid #4dbeff;
  }

  .wrappers {
    display: none;
  }

  .wrappers{
    width:100px;
    height:100px;
    position: absolute;
    left:50%;
    top:10%;
    transform: translate(-50%, -50%);
}
.nav{
    width:64px;
    height:64px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    padding: 0px;
    background-color:transparent;
    border-style:none;
    outline: none;
    cursor: pointer;
}
.nav span{
    width:100%;
    height:5px;
    background-color:#fff;
    display:block;
    position: absolute;
    border-radius: 2px;
    transition: all .5s ease;
}
.nav span:nth-child(1){
    top:0px;
    left:0px;
}
.nav span:nth-child(2){
    top:20px;
    right:0px;
}
.nav span:nth-child(3){
    top:40px;
    left:0px;
}
.nav.open span:nth-child(2){
    animation: span2 1.5s forwards cubic-bezier(.8, .5, .2, 1.4);
}
@keyframes span2{
    0%{
        transform: translate(0,0) scale(1);
    }
    20%{
        width:5px;
        border-radius: 50%;
        transform: translate(0,0) scale(1);
    }
    40%{
        width:5px;
        border-radius: 50%;
        transform: translate(0,0) scale(1);
    }
    50%{
        width:5px;
        border-radius: 50%;
        transform: translate(0,18px) scale(1); 
    }
    80%{
        width:5px;
        border-radius: 50%;
        transform: translate(0,-16px) scale(1);
    }
    100%{
        width:5px;
        border-radius: 50%;
        transform: translate(0,100px) scale(0);
    }
}
.nav.open span:nth-child(3){
    animation: span3 .8s forwards cubic-bezier(.8, .5, .2, 1.4);
    animation-delay: .7s;
}
@keyframes span3{
    0%{
        transform: translate(0,0);
    }
    60%{
        transform: rotate(80deg) translate(-7px, -7px);
    }
    100%{
        transform: rotate(45deg) translate(-7px, -7px);
    }
}
.nav.open span:nth-child(1){
    animation: span1 .8s forwards cubic-bezier(.8, .5, .2, 1.4);
    animation-delay: 1.1s;
}
@keyframes span1{
    0%{
        transform: translate(0,0);
    }
    60%{
        transform: rotate(-110deg) translate(-7px, -7px);
    }
    100%{
        transform: rotate(-45deg) translate(-20px, 20px);
    }
}   
.nav span:nth-child(1){
    animation: span1_close .8s forwards cubic-bezier(.8, .5, .2, 1.4);
}
@keyframes span1_close {
    0%{
        transform: rotate(-45deg) translate(-20px, 20px);
    }
    100%{
        transform: rotate(0deg) translate(0, 0);
    }
}
.nav span:nth-child(2){
    animation: span2_close .8s forwards cubic-bezier(.8, .5, .2, 1.4);
}
@keyframes span2_close{
    0%{
        transform: translate(0, 40px) scale(0);
    }
    100%{
        transform: translate(0, 0) scale(1);
    }
}
.nav span:nth-child(3){
    animation: span3_close .8s forwards cubic-bezier(.8, .5, .2, 1.4);
}
@keyframes span3_close{
    0%{
        transform: rotate(45deg) translate(-7px, -7px);
    }
    100%{
        transform: rotate(0deg) translate(0, 0);
    }
}

  
  
  /* ==============BOTÕES============== */
  #Home{
    padding-top: 150px;
  }
  #planos{
    padding-top: 150px;
  }
  #sua_loja{
    padding-top: 150px;
  }

  /* ====================MAIN================== */
/* =======================Carrosel============================= */


.navegacao-carrosel{
    bottom: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: flex-end;

    
}

.label-carrosel{
    float: right;
    width: 25px;
    height: 7px;
    border: 2px solid black;
    margin: 3px;
    border-radius: 10px;
    transition: .5s;
}
.label-carrosel:hover{
    background-color: black;
    
}
/* ========================Main================================== */

  main{
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .logo-client-area{
    display: flex;
    height: 150px;
    margin-top: 20vh;
    justify-content: center;
    align-items: flex-end;
  }
  .logo-client-area > img {
    width: 100px;
  }
  /* =========================Navegação do cliente======================== */
  .client-nav{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .client-nav > ul{
    display: flex;
  }
  .client-nav > ul > li {
    list-style-type: none;
  }
  .client-nav > ul > li > a{
    background-color: black;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 40px;
    margin: 0px 10px;
    border-radius: 20px;
  }
  .client-nav > ul > li > a:hover{
    background-color: white;
    border: 2px black solid;
    color: black;
  }
  .container-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
/* =====================================Main===================================== */
  .container-margin{
    max-width: 900px;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}
.divisao{
  background-color: black;
  width: 100%;
  height: 50px;
}
.container-margin-produtos{
  display: flex;
  width: 900px;
  max-width: 900px;
  flex-direction: row;
  flex-wrap: wrap;
}
  .container-left{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .container-rigth{
    width: 400px;
    height: 400px;
  }
  .container-rigth > img{
    width: 400px;
    height: 400px;
    opacity: 80%;
    border-radius: 30px;
    border: black 2px solid;
  }
  hr{
    display: flex;
    justify-content: center;
    width: 700px;
  }
  .titulo{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 20px;
  }
  .produto{
    border: black 2px solid;
    border-radius: 10px;
    height: 290px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin : 10px;
  }
  .produto > img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
  }
  .btn-produto > a {
    background-color: yellow;
    padding: 10px 40px;
    border-radius: 5px;
  }
  /* =====================FOOTER======================== */
footer{
    width: 100vw;
    height: 300px;
    background-color: black;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
.container-margin-footer{
  width: 900px;
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.footer-part{
  border-left: white 2px solid;
  border-right: white 2px solid;
  height: 200px;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.footer-part > img{
  width: 50px;
  height: 50px;
}