<footer>
    <div class="contatos">
     <div >
        <h5>Loja</h5>
        <Ul>
            <li>Quem Somos Nos</li>
            <li>Loja de Temas</li>
            <li>Planos</li>
            <li>Forma de Pagamentos</li>
        </Ul>
        
    </div>
    <div>
        <h5>Contatos</h5>
        <Ul>
            <li>Quem Somos Nos</li>
            <li>Loja de Temas</li>
            <li>Planos</li>
            <li>Forma de Pagamentos</li>
        </Ul>
    </div>
    <div>
        <h5>Ajuda</h5>
        <Ul>
            <li>Quem Somos Nos</li>
            <li>Loja de Temas</li>
            <li>Planos</li>
            <li>Forma de Pagamentos</li>
        </Ul>
    </div>
</div>
   <div class="end">
       <div>
        <h5>Siga-nos nas Redes Sociais</h5>
    </div>
   
   </div>
     <div class="scroll">
        <a href="#home"><i class='bx bx-caret-up-circle'></i></a>
    </div>
</footer>





 <!--========== MAIN JS ==========-->
 <script src="/assets/js/main.js"></script>

 
</body>
</html>

