<link rel="stylesheet" href="/assets/css/footer.css">
<footer>
    <div class="titulo">Contato</div>
    <div class="container-margin-footer">
        <div class="footer-part">
            <!-- imagen by Uniconlabs -->
            <img src="/assets/img/img-top/telefone.png"><br>
            <center>Telefone</center><br><br>
            +55(11)99999-9999
        </div>
        <div class="footer-part">
            <!-- imagen by riajulislam -->
            <img src="/assets/img/img-top/whatsapp.png"><br>
            <center>Whatsapp</center><br><br>
            +55(11)99999-9999
        </div>
        <div class="footer-part">
            <!-- imagen by Freepik -->
            <img src="/assets/img/img-top/email.png"><br>
            <center>Email</center><br><br>
            email-cliente@gmail.com
        </div>
    </div>
</footer>