<link rel="stylesheet" href="/assets/css/header.css">
<script src="/assets/js/menuRolamento.js"></script>
<header>
    <div class="logo-container">
        <a href="#Home"><img src="/assets/img/Vitural_space-logo.png" alt="logo da empresa" class="headerlogo"></a>
    </div>
            
    <nav>
        
            <ul>
                <li><a href="/#Home">Home</a></li>
                <li><a href="/#Sobre_nos">Sobre nos</a></li>
                <li><a href="/#planos">Planos</a></li>
                <li><a href="/#sua_loja">Como montar sua Loja</a></li>
                <li><a href="/ModeloDePaginas">Modelos de Paginas</a></li>
                <% if( usuario?.nome_loja  == null){%>
                    <li><i class='bx bx-user'></i><a href="/login">Login</a></li>
                    <li><i class='bx bx-user-plus'></i><a href="/create">Criar Conta</a></li>
                <% }else{%>
                    <li>
                        <a class="usuarioLogado" href="/dashboard">
                            <img src="/assets/img/img-teste.png" alt="">
                            <label for=""><%= usuario?.nome_loja %></label>
                        </a>
                        
                    </li>
                <% }%>
            </ul>
            
        </nav>
            
        
        <div class="wrappers">
            <button class="nav">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    
    
            
        </header>