<link rel="stylesheet" href="/assets/css/navLeftDashboard.css">
<div class="container-flex-left">
    <a class="btnmobile-left"><i class='bx bx-menu'></i></a>
    <div class="lateral-menu-left">
        <div class="img-lateral-menu">
            <img src="/assets/img/Vitural_space-logo.png" id="logo">
        </div>
        <div class="list-menu-left">
            <ul>
                <li><a href="/dashboard" class="inicio"></i>Inicio</a></li>
                <li><a href="/produtos/" class="inicio"></i>Produtos</a></li>
                <li><a href="" class="inicio"></i>Comentarios</a></li>
                <li><a href="/config" class="inicio"></i>Configuração</a></li>
                
            </ul>
        </div>
    </div>
</div>